// 
//  CodeSigning.xcconfig
//
//  Clipy
//  GitHub: https://github.com/clipy
//  HP: https://clipy-app.com
// 
//  Created by Shunsuke Furubayashi on 2026/05/27.
// 
//  Copyright © 2015-2026 Clipy Project.
//

CODE_SIGN_IDENTITY[config=Debug] = Apple Development
CODE_SIGN_IDENTITY[config=Release] = Developer ID Application
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = BBCHAJ584H
PROVISIONING_PROFILE_SPECIFIER[config=Debug] = match Development com.clipy-app.Clipy.debug macos
PROVISIONING_PROFILE_SPECIFIER[config=Release] = match Direct com.clipy-app.Clipy macos

// #include "Configurations/CodeSigning-AdHoc.xcconfig"
