// 
//  CodeSigning-AdHoc.xcconfig
//
//  Clipy
//  GitHub: https://github.com/clipy
//  HP: https://clipy-app.com
// 
//  Created by Shunsuke Furubayashi on 2026/05/27.
// 
//  Copyright © 2015-2026 Clipy Project.
//

CODE_SIGN_IDENTITY[config=Debug] = -
CODE_SIGN_IDENTITY[config=Release] = -
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER[config=Release] =
